
body {
    background:url(F:\Software\Android\webprojects\jabaportifolio\img\Pattern_Drag);
}
.navbar {
  width: 82%;
  position: fixed;
  top: 0px;
  left: 18%;
  float: right;
  background-color: #F5639A;
  margin: 0;
  padding: 0;
  height: 65px;
  overflow: hidden;
  color: white;
  }
  .nav-lateral {
    float: left;
    width: 18%;
    position: fixed; }
    .nav-lateral .title-page {
      height: 65px;
      background-color: #F5639A;
      font-size: 1.5rem;
      color: white;
      font-weight: bold; }
      .nav-lateral .title-page span {
        font-weight: 300; }
    .nav-lateral ul {
      list-style-type: none;
      width: 18%;
      background-color: #9D9D9D;
      position: fixed;
      height: 100%; }
      .nav-lateral ul li a {
        display: block;
        text-decoration: none;
        padding: 15px 20px;
        color: white;
        font-weight: 500;
        font-size: .8rem; }
      .nav-lateral ul li:hover {
        background-color: #F5639A;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; }
      .nav-lateral ul .active {
        background-color: #F5639A; }